In [1]:
import pandas as pd

# Pendapatan Daerah Bidang & Sektor Pariwisata

In [2]:
data_pdpt = pd.read_csv('jml_pendapatan_asli_drh_bidang_pariwisata__sektor_wisa_data.csv')
data_pdpt.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,sektor_wisata,jumlah_pendapatan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,HOTEL,0,RUPIAH,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,RESTORAN/RUMAH MAKAN,27946638075,RUPIAH,2014
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,HIBURAN,7077430815,RUPIAH,2014
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,RETRIBUSI,485255100,RUPIAH,2014
4,5,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,HOTEL,0,RUPIAH,2014

In [3]:
sum(data_pdpt['jumlah_pendapatan'])

8675852514304

In [14]:
data_pdpt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752 entries, 0 to 751
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   752 non-null    int64
 1   kode_provinsi        752 non-null    int64
 2   nama_provinsi        752 non-null    object
 3   kode_kabupaten_kota  752 non-null    int64
 4   nama_kabupaten_kota  752 non-null    object
 5   sektor_wisata        752 non-null    object
 6   jumlah_pendapatan    752 non-null    int64
 7   satuan               752 non-null    object
 8   tahun                752 non-null    int64
dtypes: int64(5), object(4)
memory usage: 53.0+ KB

In [36]:
sub_daerah = pd.DataFrame(data_pdpt['nama_kabupaten_kota'].unique())
sub_daerah.head()

                    0
0     KABUPATEN BOGOR
1  KABUPATEN SUKABUMI
2   KABUPATEN CIANJUR
3   KABUPATEN BANDUNG
4     KABUPATEN GARUT

In [35]:
sub_daerah = pd.DataFrame(data_pdpt['nama_kabupaten_kota'].unique())
sub_daerah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       27 non-null     object
dtypes: object(1)
memory usage: 344.0+ bytes

# Pengunjung Objek Wisata

In [4]:
data_obj = pd.read_csv('jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.csv')
data_obj.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,54927,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,4075198,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,49985,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,2031979,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,7824,ORANG,2014

In [21]:
data_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   349 non-null    int64
 1   kode_provinsi        349 non-null    int64
 2   nama_provinsi        349 non-null    object
 3   kode_kabupaten_kota  349 non-null    int64
 4   nama_kabupaten_kota  349 non-null    object
 5   jenis_wisatawan      349 non-null    object
 6   jumlah_pengunjung    349 non-null    int64
 7   satuan               349 non-null    object
 8   tahun                349 non-null    int64
dtypes: int64(5), object(4)
memory usage: 24.7+ KB

In [38]:
sub_daerah = pd.DataFrame(data_obj['nama_kabupaten_kota'].unique())
sub_daerah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       27 non-null     object
dtypes: object(1)
memory usage: 344.0+ bytes

# Pengunjung Rekreasi

In [40]:
data_rekreasi = pd.read_csv('jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data.csv')
data_rekreasi.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,0,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,0,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,2849,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,111947,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,36518,ORANG,2014

In [39]:
sub_daerah = pd.DataFrame(data_rekreasi['nama_kabupaten_kota'].unique())
sub_daerah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32 non-null     object
dtypes: object(1)
memory usage: 384.0+ bytes

# Pengunjung Museum

In [5]:
data_museum = pd.read_csv('jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data.csv')
data_museum.tail()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_pengunjung,satuan,tahun
183,184,32,JAWA BARAT,3275,KOTA BEKASI,400,ORANG,2020
184,185,32,JAWA BARAT,3276,KOTA DEPOK,0,ORANG,2020
185,186,32,JAWA BARAT,3277,KOTA CIMAHI,0,ORANG,2020
186,187,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2020
187,188,32,JAWA BARAT,3279,KOTA BANJAR,0,ORANG,2020

In [22]:
data_museum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   188 non-null    int64
 1   kode_provinsi        188 non-null    int64
 2   nama_provinsi        188 non-null    object
 3   kode_kabupaten_kota  188 non-null    int64
 4   nama_kabupaten_kota  188 non-null    object
 5   jumlah_pengunjung    188 non-null    int64
 6   satuan               188 non-null    object
 7   tahun                188 non-null    int64
dtypes: int64(5), object(3)
memory usage: 11.9+ KB

In [41]:
sub_daerah = pd.DataFrame(data_museum['nama_kabupaten_kota'].unique())
sub_daerah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       27 non-null     object
dtypes: object(1)
memory usage: 344.0+ bytes

# Kategori Wisatawan

In [19]:
data_ktg = pd.read_csv('jumlah_wisatawan_berdasarkan_kategori_data.csv')
data_ktg.head()

,id,kode_provinsi,nama_provinsi,kategori_wisatawan,jumlah_wisatawan,satuan,tahun
0,1,32,JAWA BARAT,WISATAWAN DOMESTIK,58728666,ORANG,2016
1,2,32,JAWA BARAT,WISATAWAN MANCANEGARA,4428094,ORANG,2016
2,3,32,JAWA BARAT,WISATAWAN DOMESTIK,59644070,ORANG,2017
3,4,32,JAWA BARAT,WISATAWAN MANCANEGARA,4984035,ORANG,2017
4,5,32,JAWA BARAT,WISATAWAN DOMESTIK,63298608,ORANG,2018

In [23]:
data_ktg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10 non-null     int64
 1   kode_provinsi       10 non-null     int64
 2   nama_provinsi       10 non-null     object
 3   kategori_wisatawan  10 non-null     object
 4   jumlah_wisatawan    10 non-null     int64
 5   satuan              10 non-null     object
 6   tahun               10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 688.0+ bytes

In [1]:
import phonenumbers
# from text import number
from phonenumbers import geocoder

number = "+628281087889"

ch_number = phonenumbers.parse(number, "CH")
print(geocoder.description_for_number(ch_number, "en"))
from phonenumbers import carrier
service_provider = phonenumbers.parse(number, "RO")
print(carrier.name_for_number(service_provider, "en"))

Indonesia